<!--The content below is only a placeholder and can be replaced.-->
<section class="forum">
  <table class="forum__box">
    <tbody *ngFor="let u of users" class="message">
      <tr>
        <td class="message__param">🙍Name:</td>
        <td class="message__val">{{u.name}}</td>
        <td class="message__param">🗺️Country:</td>
        <td class="message__val">{{u.country}}</td>
        <td class="message__param">🎁Age:</td>
        <td class="message__val">{{u.age }}</td>
        <td class="message__param">📅Date:</td>
        <td class="message__val">{{u.date}}</td>
        <td class="message__param">⌚Time:</td>
        <td class="message__val">{{u.time}}</td>
        <td class="message__param animlike" (click)="liked(u.id)">💓Like:</td>
        <td class="message__val" (click)="liked(u.id)">{{u.like}}</td>
      </tr>
      <tr>
        <td class="message__txt" colspan="12">{{u.msg}}</td>
      </tr>
      <tr class="message__foot">
        <td (click)="answer(u.id)">Answer</td>
        <td ng-click="quote(u.id)">Quote</td>
        <td ng-click="spam(u.id)" colspan="10">Spam</td>
      </tr>
    </tbody>
  </table>
  <div class="form">
    <pre>{{error}}</pre>
    <div class="form__inputs">
      <div>
        <label>Name:</label><br>
        <input type="text" value="John" ng-model="name"><br>
      </div>
      <div>
        <label>Country:</label><br>
        <input type="text" value="Testin" ng-model="country"><br>
      </div>
      <div>
        <label>Age:</label><br>
        <input type="text" value="30" ng-model="age"><br>
      </div>
    </div>
    <div>
    <label>Text</label><br>
    <textarea ng-model="text" rows="10" cols="23">This is text for test</textarea>
    </div>
    <input type="button" value="💬send message" (click)="messagenew()">
  </div>
</section>
