<!--The content below is only a placeholder and can be replaced.-->
<section class="forum">
  <table class="forum__box">
    <tbody *ngFor="let u of users" class="message">
      <tr>
        <td class="message__param">🙍Name:</td>
        <td class="message__val">{{u.name}}</td>
        <td class="message__param">🗺️Country:</td>
        <td class="message__val">{{u.country}}</td>
        <td class="message__param">🎁Age:</td>
        <td class="message__val">{{u.age }}</td>
        <td class="message__param">📅Date:</td>
        <td class="message__val">{{u.date}}</td>
        <td class="message__param">⌚Time:</td>
        <td class="message__val">{{u.time}}</td>
        <td class="message__param animlike" (click)="liked(u.id)">💓Like:</td>
        <td class="message__val" (click)="liked(u.id)">{{u.like}}</td>
      </tr>
      <tr>
        <td class="message__txt" colspan="12">{{u.msg}}</td>
      </tr>
      <tr class="message__foot">
        <td ng-click="answer(u.id)">Answer</td>
        <td ng-click="quote(u.id)">Quote</td>
        <td ng-click="spam(u.id)" colspan="10">Spam</td>
      </tr>
    </tbody>
  </table>
</section>
